<div id="tutorials">
  <section>

    <span *ngIf="showLoading">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>

    <p *ngIf="!showLoading && errorMessage">{{errorMessage}}</p>

    <div *ngIf="!showLoading && !errorMessage">
      <ul>
        <li *ngFor="let item of collection | pagingFilter: currentPageIndex: pageSize; trackBy: trackByCollectionId">
          <time>{{item.lastUpdateDate | date : 'long'}}</time>

          <div>
            <h2><a [routerLink]="['/tutorials', item.id, item.title | slug ]">{{item.title}}</a></h2>
            <p>{{item.recomendationSummary}}</p>
          </div>
        </li>
      </ul>

     <blog-pagination [collection]="collection" [currentPageIndex]="currentPageIndex" [pageSize]="pageSize" collectionType="tutorials"></blog-pagination>
    </div>
  </section>
</div>
