@import 'variables';

#tutorials {
  display: flex;
  flex-direction: row;

  @media (max-width: 1286px) { flex-direction: column; }

  section {
    display: block;
    width: 100%;

    &>span {
      display: block;
      margin: 150px auto;
      height: 80px;
      text-align: center;
      min-width: 100%;

      i {
        font-size: 10em;
        color: $colorGreySuperLight;
      }
    }

    &>div {

      &>ul {

        li {
          display: flex;
          flex-direction: row;
          border-top: 1px solid $colorGreySuperLight;

          @media (max-width: 600px) {
            flex-direction: column;
            border: 0;
          }

          &:last-of-type {
            border-bottom: 1px solid $colorGreySuperLight;

            @media (max-width: 600px) { border-bottom: 0; }
          }

          time {
            border-right: 1px solid $colorGreySuperLight;
            margin: 5px;
            padding: 20px 0 0 0;
            color: $colorGreyDark;
            width: 120px;
            display: inline-block;
            font-size: 14px;

            @media (max-width: 600px) { display: none; }
          }

          &> div {
            flex: 1;
            margin: 5px;
            padding: 15px 0 20px 10px;

            @media (max-width: 600px) {
              display: flex;
              flex-direction: column;
              order: 1;
              margin: 0;
              padding-left: 0;
            }

            &>a {
              display: block;
              margin: 20px 0;
              width: 100px;
              background: linear-gradient(to bottom,#f8e6b8 0,#f3d686 6%,#ebb62c 100%);
              text-decoration: none;

              @media (max-width: 600px) {
                margin: 20px auto 30px auto;
              }
            }

            p {
              line-height: 23px;
              color: $colorGreyLight;
            }
          }
        }
      }
    }
  }
}
