<div id="bookshelf">
  <section>

    <span *ngIf="showLoading">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </span>

    <p *ngIf="!showLoading && errorMessage">{{errorMessage}}</p>

    <div *ngIf="!showLoading && !errorMessage">
      <ul>
        <li *ngFor="let item of collection | pagingFilter: currentPageIndex: pageSize; trackBy: trackByCollectionId">
          <time>{{item.lastUpdateDate | date : 'long'}}</time>

          <div>
            <div *ngIf="item.image">
              <img [src]="item.image"/>

              <a [href]="item.bookLink" target="_black" title="Buy it now" (click)="reportBookPurchase(item)">
                <span>Buy it now</span>
              </a>
            </div>
            <div>
              <h2><a [routerLink]="['/bookshelf', item.id, item.title | slug]">{{item.title}}</a><span *ngIf="item.author"> - <a target="_blank" href="{{item.authorLink}}" rel="noopener">{{item.author}}</a></span></h2>
              <p>{{item.recomendationSummary}}</p>
            </div>
          </div>
        </li>
      </ul>

      <blog-pagination [collection]="collection" [currentPageIndex]="currentPageIndex" [pageSize]="pageSize" collectionType="books"></blog-pagination>
    </div>

  </section>
</div>
