<div id="app">
  <aside>
    <div id="card">
      <a href="/" rel="home"><div title="André R. Ferreira, MSc photograph"></div></a>
      <h4>André R. Ferreira, MSc</h4>
    </div>

    <div id="socialMedia">
      <ul>
        <li>
          <a target="_blank" hreflang="en" title="Link to André Ferreira's LinkedIn account" href="https://www.linkedin.com/in/andreraposoferreira" rel="noopener"><img src="https://assets.andreferreira.website/imgs/linkedin.png" alt="LinkedIn's logo" width="25" height="25"/></a>
        </li>
        <li>
          <a target="_blank" hreflang="en" title="Link to André Ferreira's Github account" href="github" rel="noopener"><img src="https://assets.andreferreira.website/imgs/github.png" alt="Github's logo" width="25" height="25"/></a>
        </li>
        <li>
          <a target="_blank" hreflang="en" title="Link to André Ferreira's Twitter account" href="twitter" rel="noopener"><img src="https://assets.andreferreira.website/imgs/twitter.png" alt="Twitter's logo" width="25" height="25"/></a>
        </li>
      </ul>
    </div>
    <div id="mobileMenu" (click)="openMobileMenu = !openMobileMenu" [class.openMenu]="openMobileMenu" (openMobileMenuChange)="openMobileMenu = $event"></div>
    <blog-navigation [(openMobileMenu)]="openMobileMenu"></blog-navigation>
  </aside>
  <main>
    <blog-breadcrumbs [crumbs]="breadcrumbs" *ngIf="!showLoading"></blog-breadcrumbs>
    <router-outlet></router-outlet>
  </main>
</div>
