@import 'variables';


#randomThoughts {
  padding-bottom: 50px;

  div {
    padding-top: 30px;
    height: 80px;
    text-align: center;
    width: 100%;

    i {
      font-size: 50px;
      color: $colorGreySuperLight;
    }
  }
}
