@import 'variables';

nav {
  margin-top: 50px;
  background-color: $colorGreyDark;

  @media (max-width: 1286px) { display: none; }

  &.show {
    display: block;

    ul { margin-top: 0; }
  }

  ul {
    position: relative;
    display: block;
    margin-top: 20px;

    li {
      display: block;
      border-bottom: 1px solid $colorGreyLight;
      line-height: 50px;
      text-align: left;
      cursor: pointer;

      &:first-of-type { border-top: 1px solid $colorGreyLight; }

      &.isActive {
        padding-left: 50px;
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:focus { outline: none; }

      a {
        display: block;
        padding-left: 40px;
        color: $colorWhite;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
        background-color: transparent;

        &:active { color: $colorBlack; }

        &:focus { outline-color: $colorGreyLight; }

        &:hover {
          padding-left: 50px;
          background-color: rgba(255, 255, 255, 0.05);
        }

        &:after {
          position: absolute;
          right: 25px;
          content: ">";
          font-size: 15px;
          color: $colorGreyLight;
        }
      }
    }
  }
}
